@model IEnumerable<TSI.GymTech.Entity.Models.TrainingSheet>

@{
    ViewBag.Title = "SelectTrainingSheet";
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("Select", "TrainingSheet", FormMethod.Post, new { id = "frmTrainingSheet", name = "frmTrainingSheet" }))
        {
            <div class="modal-header">
                <h4 class="modal-title">Selecionar Treino</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>

            @Html.AntiForgeryToken()
            @Html.Hidden("PersonId", (int?)ViewBag.PersonId)

            <div class="modal-body">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <table class="stripe row-border" id="tblTrainingSheetToCopy" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cycle)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Student.Name)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        }

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<!-- Enabled filters and buttons to datatable -->
<script>
    $(document).ready(function () {
        LoadDataTableToSelectTrainingSheet(tblTrainingSheetToCopy)
    });
</script>

<!-- Utility library -->
<script src="@Url.Content("~/Scripts/Utility/TrainingSheetUtility.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Utility/ModalSelectUtility.js")" type="text/javascript"></script>