@model IEnumerable<TSI.GymTech.Entity.Models.Person>

@{
    ViewBag.Title = "SelectStudent";
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("Select", "Student", FormMethod.Post, new { id = "frmSelectPerson", name = "frmSelectPerson" }))
        {
            <div class="modal-header">
                <h4 class="modal-title">Selecionar Aluno</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>

            @Html.AntiForgeryToken()
            <div class="modal-body">
                <!-- DataTales Example -->
                <div class="card shadow">
                    <div class="card-body">
                        <table class="stripe row-border" style="width:100%" id="tblStudents" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PersonId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="@item.PersonId">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PersonId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <a href=@Url.Action("Select", "Student", new { id = item.PersonId }) onclick="SelectPerson(@item.PersonId); return false;">
                                                <i class="fas fa-check-circle"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        }

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<!-- Enabled filters and buttons to datatable -->
<script>
    $(document).ready(function () {
        LoadDataTableToPopUp(tblStudents);
    });
</script>

<script src="@Url.Content("~/Scripts/Utility/StudentUtility.js")" type="text/javascript"></script>