@model TSI.GymTech.WebAPI.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Redefinir Senha";
}

<h2>@ViewBag.Title.</h2>

<section id="loginForm" class="user">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Redefinir sua senha</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)

        <div class="form-login-group  input-group ">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Digite seu E-mail", @class = "form-control form-control-user" })
            @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
        </div>
        <div class="form-login-group  input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
            </div>
            @Html.PasswordFor(m => m.Password, new { placeholder = "Nova Senha", @class = "form-control  form-control-user" })
        </div>
        <div class="form-login-group  input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
            </div>
            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirma Nova Senha", @class = "form-control  form-control-user" })
        </div>

        <div class="form-login-group ">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Redefinir Senha" />
            </div>
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
