@model TSI.GymTech.Entity.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>GymTech - @Model.Name</title>
</head>

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { id = "frmProduct", name = "frmProduct", @class = "needs-validation" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "help-block" })
        @Html.HiddenFor(model => model.ProductId)
        @Html.HiddenFor(model => model.Photo)

        <div class="edit-container">
            @*Photo and Nav buttons*@
            <div class="col-lg-3 col-md-3 col-sm-12 float-md-right float-lg-right" style="position: relative;">
                <div class="profile-sidebar">
                    <div id="myCam" class="profile-userpic-webcam" style="display: none;">
                    </div>
                    <!-- SIDEBAR USERPIC -->
                    <div id="results" class="d-none"></div>
                    <div id="myPhoto" class="profile-pic">
                        @{
                            var fileName = Model.Photo;
                            var sourceImage = "~/Images/Products/";
                            var absolutePath = System.Web.HttpContext.Current.Server.MapPath("~/Images/Products/" + fileName);

                            if (!System.IO.File.Exists(absolutePath) || string.IsNullOrEmpty(fileName))
                            {
                                fileName = "default-profile.png";
                            }

                            sourceImage += fileName;

                            var resetWebcamFunc = "reset_webcam('" + fileName + "')";
                        }
                        <img id="productPhoto" src="@Href(sourceImage)" class="img-responsive">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            @Model.Name
                        </div>
                        <div class="profile-usertitle-job">
                            @{
                                if (Model.Type != null)
                                {
                                    typeof(TSI.GymTech.Entity.App_LocalResources.ProductType).GetProperty(Enum.GetName(typeof(TSI.GymTech.Entity.Enumerates.ProductType), Model.Type)).GetValue(null);
                                }
                            }
                        </div>
                    </div>

                    <div id="pre_take_buttons" class="profile-userbuttons">
                        <button id="btnAdd" type="button" class="btn btn-dark btn-md" onClick="setup(); $(this).hide();">
                            <i class="fas fa-video fa-2x"></i>
                        </button>
                        <div id="btnUploadPicture" class="btn btn-success btn-file">
                            <i class="fas fa-images  fa-2x"></i>
                            <input id="btnUpload" type="file">
                        </div>
                        <button id="btnRemovePhoto" type="button" class="btn btn-danger btn-sm" style="display:@(sourceImage.IndexOf("default-profile.png") <= 0 ? "" : "none")">
                            <i class="fas fa-trash-alt fa-2x"></i>
                        </button>

                        <button id="btnTakePicture" type="button" class="btn btn-dark btn-lg" style="display:none" onClick="preview_snapshot()">
                            <i class="fas fa-camera-retro fa-2x"></i>
                        </button>
                        <button id="btnResetWebcam" type="button" class="btn btn-danger btn-lg" style="display:none" onClick="@resetWebcamFunc">
                            <i class="fas fa-video-slash fa-2x"></i>
                        </button>
                    </div>
                    <div id="post_take_buttons" class="profile-userbuttons" style="display:none">
                        <button id="btnTakeAnother" type="button" class="btn btn-dark btn-lg" onClick="cancel_preview()">
                            <i class="fas fa-undo-alt fa-2x"></i>
                        </button>
                        <button id="btnSavePhoto" type="button" class="btn btn-success btn-lg" onClick="save_photo()">
                            <i class="far fa-save fa-2x"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-lg" onClick="@resetWebcamFunc">
                            <i class="fas fa-video-slash fa-2x"></i>
                        </button>
                    </div>

                    <!-- SIDEBAR MENU -->
                    <nav id="navSideBar" class="navbar navbar-expand-lg navbar-light">
                        <div class="profile-usermenu sidebar-sticky">
                            <ul class="nav nav-menu flex-column">
                                <li class="nav-item active">
                                    <a href="#productData" class="nav-link">
                                        <i class="fa fa-home"></i>
                                        @*Overview*@
                                        Dados Gerais
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END MENU -->
                    </nav>
                </div>
            </div>

            @*Fields and Grid views*@
            <div class="col-lg-9 col-md-9 col-sm-12 col-md-8">
                @*Product Data*@
                <section id="productData">
                    <div class="profile-content">
                        <h5>Detalhes do Produto</h5>
                        <hr />
                        <div class="form-row">
                            <div class="form-group col-12">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="input-group col-md-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fab fa-product-hunt"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "validation-message help-block" })
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-12">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="input-group col-md-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-align-justify"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "validation-message help-block" })
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6 col-sm-12">
                                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="input-group col-md-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-list"></i></span>
                                    </div>
                                    @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "validation-message help-block" })
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="input-group col-md-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-list"></i></span>
                                    </div>
                                    @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "validation-message help-block" })
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6 col-sm-12">
                                @Html.LabelFor(model => model.SuggestedPrice, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="input-group col-md-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.SuggestedPrice, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.SuggestedPrice, "", new { @class = "validation-message help-block" })
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                @Html.LabelFor(model => model.QuantityStock, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="input-group col-md-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-cubes"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.QuantityStock, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.QuantityStock, "", new { @class = "validation-message help-block" })
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6 col-sm-12">
                                @Html.LabelFor(model => model.Quota, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="input-group col-md-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-sort-numeric-up"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.Quota, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Quota, "", new { @class = "validation-message help-block" })
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-12">
                                @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="input-group col-md-12">
                                    @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "validation-message help-block" })
                            </div>
                        </div>
                    </div>
                </section>

                @*Buttons*@
                <section class="profile-content">
                    <div class="form-row">
                        <div class="col-6 mt-2">
                            @Html.ActionLink("Voltar para Lista de Produtos", "Index")
                        </div>
                        <div class="col-6 text-right">
                            <input id="btnSaveProduct" type="submit" value="Salvar" class="btn btn-success align-content-end" />
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!-- Utility library -->
<script src="@Url.Content("~/Scripts/Utility/ProductUtility.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Utility/UtilityHelper.js")" type="text/javascript"></script>

<!-- WebcamJS library -->
<script src="@Url.Content("~/Scripts/WebCam/webcam.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Utility/WebCamUtility.js")" type="text/javascript"></script>