@model IEnumerable<TSI.GymTech.Entity.Models.Exercise>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<head>
    <title>GymTech - Exercícios</title>
</head>

<!-- Enabled filters and buttons to datatable -->
<script>
    $(document).ready(function () {
        LoadDataTableButtonsAndFilter(tblExercises);
    });
</script>

<!-- Begin Page Content -->
<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-2 text-gray-800">Exercícios</h1>
    <a href=@Url.Action("Create", "Exercise") class="d-none d-sm-inline-block btn btn-sm btn-labeled btn-success shadow-sm">
        <i class="fas fa-dumbbell text-white-35"></i>
        <span class="btn-label">Novo Exercício</span>
    </a>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <table class="stripe row-border" id="tblExercises" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comments)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MuscleWorked)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MuscularGroup)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MuscleWorked)
                        </td>
                        <td>
                            @typeof(TSI.GymTech.Entity.App_LocalResources.MuscularGroup).GetProperty(Enum.GetName(typeof(TSI.GymTech.Entity.Enumerates.MuscularGroup), item.MuscularGroup)).GetValue(null)
                        </td>
                        <td>
                            <a href=@Url.Action("Edit", "Exercise", new { id = item.ExerciseId })>
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href=@Url.Action("Delete", "Exercise", new { id = item.ExerciseId })>
                                <i style="color: red;" class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>