@model TSI.GymTech.Entity.Models.SheetQuestion

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<head>
    <title>GymTech - @Model.Question</title>
</head>

@using (Html.BeginForm("Edit", "SheetQuestion", FormMethod.Post, new { id = "frmSheetQuestion", name = "frmSheetQuestion" }))
{
    @Html.AntiForgeryToken()

<div id="page-content" class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "validation-message help-block" })
    @Html.HiddenFor(model => model.SheetQuestionId)

    <div class="edit-container">
        <div class="col-lg-9 col-md-9 col-sm-12 col-md-8">
            @*Model Properties*@
            <section id="sheetQuestion">
                <div class="profile-content">

                    <div class="d-flex align-items-center justify-content-between mb-1">
                        <h5>Pergunta - "@Model.Question"</h5>
                    </div>
                    <hr />

                    <div class="form-row">
                        <div class="form-group col-md-12 col-sm-12">
                            @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="input-group col-md-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
                                </div>
                                @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Question, "", new { @class = "validation-message help-block" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-12">
                            @Html.LabelFor(model => model.QuestionType, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="input-group col-md-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-list"></i></span>
                                </div>
                                @Html.EnumDropDownListFor(model => model.QuestionType, htmlAttributes: new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.QuestionType, "", new { @class = "validation-message help-block" })
                        </div>

                        <div class="form-group col-md-6 col-sm-12">
                            @Html.LabelFor(model => model.AnswerType, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="input-group col-md-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-list"></i></span>
                                </div>
                                @Html.EnumDropDownListFor(model => model.AnswerType, htmlAttributes: new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.AnswerType, "", new { @class = "validation-message help-block" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-12">
                            @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="input-group col-md-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-list"></i></span>
                                </div>
                                @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Order, "", new { @class = "validation-message help-block" })
                        </div>
                    </div>
                </div>
            </section>

            @*Buttons*@
            <section class="profile-content">
                <div class="form-row">
                    <div class="col-6 mt-2">
                        @Html.ActionLink("Voltar para Lista de Perguntas", "Index")
                    </div>
                    <div class="col-6 text-right">
                        <button id="btnSaveSheetQuestion" onclick="return false;" class="btn btn-success align-content-end" type="submit">Salvar</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
}

<!-- Utility library -->
<script src="@Url.Content("~/Scripts/Utility/SheetQuestionUtility.js")" type="text/javascript"></script>